<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>team</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Poppins:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/Navbar.css" />
    <link rel="stylesheet" href="css/Final page.css" />
    <link rel="stylesheet" href="css/Sign_up.css" />
    <link rel="stylesheet" href="css/sign-in.css" />
</head>

<body>
    <!-- ////////////////////////////////////////////////////{Navbar}///////////////////////// -->
    {{> navbar}}
    <!-- //////////////////////////////////////////// -->
    <div class="tp-background"></div>
    <section class="team-page">
        <header class="tp-header">
            <p>Meet Our <span>Team</span></p>
            <div>Coming together is a begining. Keeping together is a progress. Working together is a success.</div>
        </header>
        <section class="tp-members">
            <div class="member1">
                <div class="tp-image">
                    <img src="/images/Team Images/rocb.png" alt="" srcset="" />
                </div>

                <p>ADITYA KR.</p>
                <span>Ui/Ux Int.</span>
            </div>
            <div class="member1">
                <div class="tp-image">
                    <img src="/images/Team Images/Sankeet.jpeg" alt="" srcset="" />
                </div>

                <p>Sankeet Pareek</p>

                <span>Graphic Designer Int.</span>
            </div>
            <div class="member1">
                <div class="tp-image">
                    <img src="/images/Team Images/punit.jpg" alt="" srcset="" />
                </div>

                <p>Punit Kumawat</p>
                <span>Network Security</span>
            </div>
            <div class="member1">
                <div class="tp-image">
                    <img src="/images/Team Images/rohit.jpg" alt="" srcset="" />
                </div>

                <p>Rohit Shrimal</p>
                <span>Web Designer</span>
            </div>
            <div class="member1">
                <div class="tp-image">
                    <img src="/images/Team Images/Naveen.jpeg" alt="" srcset="" />
                </div>

                <p>Naveen Kumar Kumawat</p>
                <span>Web Designer</span>
            </div>
            <div class="member1">
                <div class="tp-image">
                    <img src="/images/Team Images/Rajat.jpeg" alt="" srcset="" />
                </div>

                <p>Rajat Agarwal</p>
                <span>CEO</span>
            </div>
        </section>
        <footer>
            <p>©2021 by axial LC.(Co-Venture of FLC)</p>
        </footer>
    </section>
    <script src="./js/Final team.js"></script>
    <!-- //////////////same js files//////////////////// -->

    <script src="./js/jquery_min.js"></script>
    <script src="./js/Navbar.js"></script>
    <script src="./js/SI_SU.js"></script>
</body>

</html>