<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoxORG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat Alternates" rel="stylesheet" />
    <link rel="stylesheet" href="css/Mainpage.css" />
    <link rel="stylesheet" href="css/Navbar.css" />
    <link rel="stylesheet" href="css/Sign_up.css" />
    <link rel="stylesheet" href="css/sign-in.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script defer src="./js/Dmag.js"></script>
        <link rel="stylesheet" href="css/phone.css" />


    <style>
        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        
        .height_anim {
            animation: height_anim 2s;
        }
        
        @keyframes height_anim {
            0% {
                height: 0%;
            }
            100% {
                height: fit-content;
            }
        }
        
        .hide {
            display: none;
        }
        
        .nav_ser>ul {
            overflow: hidden;
            transition: height 2s ease 0s;
        }
        
        html {
            font-size: 62.5%;
        }
        
        .Nav_main {
            position: absolute;
            display: flex;
            /* background-color: #9d9a9a; */
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            height: 20rem;
            width: 100vw;
            z-index: 11;
        }
        
        .Nav_main>.logo {
            position: relative;
            left: -16%;
        }
        
        .Nav_main>ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            list-style: none;
            height: 100%;
        }
        
        .Nav_main>ul>li {
            height: 100%;
            text-align: center;
            align-items: center;
            display: flex;
        }
        
        .ul_Uline {
            border-bottom: 4px solid;
        }
        
        .Nav_main>ul>li>a {
            color: white;
            text-decoration: none;
            font-size: 2rem;
        }
        
     .header-profile >.Nav_SS {
            font-size: 2rem;
            position: relative;
            left: 7%;
        }
        
        .header-profile>.Nav_SS>button {
            font-size: 2rem;
            background-color: transparent;
            border: none;            cursor: pointer;

        }
        
        .header-profile>.Nav_SS>span {
            font-size: 2.5rem;
            cursor: pointer;
        }
    </style>
    <style>
        @media (min-width: 1500px) {
            html {
                font-size: 52%;
            }
            .vid {
                width: 92rem;
            }
            .contentpg2 {
                justify-content: flex-start;
                top: 13%;
                height: fit-content;
            }
            .footer{
                gap: 8rem;
            }
            .vision {
                   max-width: 72%;
            }
        }
        @media (min-width: 1600px){
            
         }
         
          @media (min-width: 1500px) and (max-width : 1599px){
            .vision {
                   max-width: 100%;
            }
         }
        
        @media (min-width: 1200px) and (max-width: 1499px) {
            html {
                font-size: 42%;
            }
            .bod {
                height: 116rem;
            }
            .vid {
                width: 88rem;
                margin-left: -3rem;
            }
            .pg2 {
                height: fit-content;
                margin-bottom: 15rem;
            }
            .contentpg2 {
                justify-content: center;
            }
            .about>p {
                font-size: 2.5rem;
                padding-top: 2rem;
            }
            .icons {
                font-size: 2rem;
            }
            .add>p {
                font-size: 2.5rem;
            }
            .text-color>a {
                font-size: 2.3rem;
            }
        }
        
        @media (min-width: 1000px) and (max-width: 1199px) {
            html {
                font-size: 32%;
            }
            .bod {
                height: 105rem;
            }
            .vid {
                width: 104rem;
                margin-left: 1rem;
            }
            .pg2 {
                height: fit-content;
                margin-top: 15rem;
                margin-bottom: 15rem;
            }
            .contentpg2 {
                justify-content: center;
            }
            .about>p {
                font-size: 3.5rem;
                padding-top: 2rem;
            }
            .icons {
                font-size: 3.5rem;
            }
            .add>p {
                font-size: 3.5rem;
            }
            .text-color>a {
                font-size: 3rem;
            }
        }
        
        @media (min-width: 800px) and (max-width: 999px) {
            html {
                font-size: 32%;
            }
            .bod {
                height: 105rem;
            }
            .vid {
                width: 92rem;
                margin-left: -6rem;
            }
            .footer {
                gap: 5rem;
            }
            .about>p {
                font-size: 3.5rem;
                padding-top: 2rem;
            }
            .icons {
                font-size: 3.5rem;
            }
            .add>p {
                font-size: 3.5rem;
            }
            .text-color>a {
                font-size: 3rem;
            }
        }
        
        @media (min-width: 500px) and (max-width: 799px) {
            html {
                font-size: 25%;
            }
            .box>h1 {
                font-size: 5rem;
            }
            .bod {
                height: 105rem;
            }
            .vid {
                width: 90rem;
                margin-left: -14rem;
            }
            .heading {
                font-size: 5rem;
            }
            .moto>p {
                font-size: 3rem;
            }
            .img1>img {
                width: 85rem;
                height: 65rem;
            }
            .pg-3 {
                margin-top: 23rem;
            }
            .footer {
                gap: 2rem;
            }
            .about>p {
                font-size: 3.5rem;
                padding-top: 2rem;
            }
            .icons {
                font-size: 3.5rem;
            }
            .add>p {
                font-size: 3.5rem;
            }
            .text-color>a {
                font-size: 3rem;
            }
        }
        
        
        .logo>img {
            max-width: 20rem;
        }
        
        .nav_ser>ul {
            align-items: flex-start;
            align-content: center;
            justify-content: center;
            padding-left: 4rem;
        }

        html{
            scroll-behavior: smooth;
        }

      
        .canvas { 
            position: fixed;
            background-color: #000000; 
            padding: 0; 
            margin: 0; 
            height: 100vh;
            width: 100vw;
            overflow: hidden;
            z-index: 10001;
        }

        .img1>img{ 
               transform: scale(1.3);
        }
    
        .loader{
             background-color: white; 
             padding: 0; 
             margin: 0; 
             overflow: hidden;
             position: fixed;
             width: 100vw;
             height: 100vh;
             z-index: 10001;

        }
       
        .notification{
            top: 3px;
        }
    </style>
    <style>
        /*  Dmag Loader 
         .dmag_img_container {
                width: 95rem;
                height: 78rem;
            position: relative;
        }
        
        .dmag_img_container>img {
            width: 500px;
        }
        
        .dmag_img_container>img:nth-child(4) {
            position: absolute;
            top: -21%;
            width: 88%;
            right: -20%;
            z-index: -4;
        }
        
        .dmag_img_container>img:nth-child(3) {
            position: absolute;
            bottom: 4%;
            right: -9%;
            width: 69%;
            z-index: -5;
        }
        
        .dmag_img_container>img:nth-child(2) {
                position: absolute;
                bottom: 9%;
                left: 10%;
                width: 22%;
        }
        
        .dmag_img_container>img:nth-child(1) {
                position: absolute;
                width: 111%;
                top: -3%;
                left: 13%;
        }
        
        .book_appear {
            animation-name: book_zoom;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-delay: 1s;
        }
        
        @keyframes book_zoom {
        /*    0% {
                opacity: 0;
                transform: translateY(-5rem) translateY(5rem) rotate(90deg) scale(1.5);
            }
            70% {
                opacity: 1;
                transform: translateY(0rem) translateY(0rem) rotate(-10deg) scale(0.8);
            }
            100% {
                transform: rotate(0deg) scale(1.1);
                opacity: 1;
            }
                0% {
        opacity: 0;
        transform: translateY(-5rem) translateY(5rem) rotate(90deg) scale(1.5);
    }
   
    70% {
        opacity: 1;
        transform: translateY(0rem) translateY(0rem) rotate(-10deg) scale(0.8);
    }
    100% {
        transform: rotate(0deg) scale(1.1);
        opacity: 1;
    }
        }
        
        .pen_appear {
            animation-name: pen;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-delay: 3s;
        }
        
        @keyframes pen {
            0% {
                opacity: 0;
                transform: translateY(20rem);
            }
            100% {
                transform: translateY(0rem);
                opacity: 1;
            }
        }
*/.sip-submit>button {
   
    width: 8rem;
    height: 8rem;}
    .sip-sf>ul>li,
.sip-sf>ul>li>a {
   
    font-size: 2.5rem;
}
.wave {
    
    width: 3000px;
}
.sip-input>input {
    width: 33rem;
    height: 4rem;
}
    </style>
    
</head>

<body onload="done()">
    {{!-- <div class="canvas">
        <canvas id='world'></canvas>
    </div> --}}
    <div class="loader">
        <canvas id="world"></canvas>
    </div>
    <header class="Nav_main">
        <div class="logo"><img src="/images/Mainpage Images/images/logo.webp" alt="FoxORG" srcset="" /></div>

        <div class="Nav_SS">
            {{!-- <button class="nav_signin">Sign-in</button>
            <button class="nav_signup">Sign-up</button> --}}
        </div>
    </header>
    <!-- ////////////////////////////////////////////////////{Navbar}///////////////////////// -->
    {{> navbar }}
   
    <!-- ///////////////////////////////// { MAin Page }//////////////////////////////////////// -->
    <!-- <div class="lg ">
        <img src="./Images/Mainpage Images/images/Name logo.png " alt=" " srcset=" " />
    </div> -->
    <section class="home">
        <section class="back">
            <div class="bod">
                <div class="logo">
                    <video class="vid" autoplay infinite loop muted src="./Videos/Mainpage/New video.mp4 " alt="Videos "></video>
                    <div class="mute_btn" style="width: 100%; height: 100%">
                        <button title="Mute " class="mute"></button>
                    </div>
                </div>

                <div class="pg1_box">
                    <h1>Simply Creators</h1>
                    <div class="vision">Research, Reinovate, Reinvent to solve planetory problems effectively and stably.</div>
                </div>
            </div>
        </section>
        <section class="pg2">
            <div class="contentpg2">
                <h1 id="Dmag_heading" data-aos="fade-up-left " data-aos-duration="1000 " data-aos-once="true " class="heading vanish1 fade-in">Presenting D-mag</h1>
                <!-- class="l1 vanish1 fade-in " -->
                <div class="moto">
                    <p l1 data-aos="fade-left" data-aos-delay="2500" data-aos-duration="1000" data-aos-once="true">To give you an idea and vision</p>
                    <p l2 data-aos="fade-left" data-aos-delay="2600" data-aos-duration="1000" data-aos-once="true">of what has been like at the FoxORG,</p>
                    <p l3 data-aos="fade-left" data-aos-delay="2700" data-aos-duration="1000" data-aos-once="true">There are some galleries that feature ,</p>
                    <p l4 data-aos="fade-left" data-aos-delay="2800" data-aos-duration="1000" data-aos-once="true">present profile of the company and offering</p>
                    <p l5 data-aos="fade-left" data-aos-delay="2900" data-aos-duration="1000" data-aos-once="true">coverage-related topics such as products ,</p>
                    <p l6 data-aos="fade-left" data-aos-delay="3000" data-aos-duration="1000" data-aos-once="true">works and services.</p>
                </div>
            </div>
            
                <div class="dmag_img_container">
                    <img style="opacity: 0" class="dmgbook vanish" src="/images/Mainpage Images/images/dmgbook.png" alt="" />
                    <img style="opacity: 0" class="dmgpen vanish" src="/images/Mainpage Images/images/dmgpen.png" alt="" />
                    <img src="/images/Mainpage Images/images/dmgphone.png" alt="" />
                    <img src="/images/Mainpage Images/images/dmgtree.png" alt="" />
                </div>
            {{!-- <div class="pg2_box">
                <div id="Dmag_img" class="img1 fade-lf vanish2" style="opacity: 0">
                    <img src="/images/Mainpage Images/images/Final_dmag.webp " alt=" " srcset="" />
                    <div class="shadow"></div>
                </div>
            </div> --}}

        </section>
        <div class="ba">
            <section class="pg-3">
                <div class="about">
                    <h1>About</h1>
                    <br />
                    <p>
                        We don't have anything to say about us yet but we are creating our story. Soon we will come up with a good story of our journey to tell you but we do have amission to restore nature at its capabilities and help every living organism of The Mother Earth
                        to live in good enviroment.
                    </p>
                </div>
                <hr />

                <div class="content">
                    <h1>Content</h1>
                    <div class="icons">
                        <div class="mal img"><img src="/images/Mainpage Images/icons/gmail.webp " alt=" " /><a href="# ">foxorg.Inc@gmail.com</a></div>
                        <div class="fb img"><img src="/images/Mainpage Images/icons/facebook.webp " alt=" " /><a href="# ">foxORG INC.</a></div>
                        <div class="ut img"><img src="/images/Mainpage Images/icons/youtube.webp " alt=" " /><a href="https://www.youtube.com/ ">foxORG yt</a></div>
                        <div class="img"><img src="/images/Mainpage Images/icons/github.webp " alt=" " /><a href="# ">altos axis</a></div>
                        <div class="img"><img src="/images/Mainpage Images/icons/linkedin.webp " alt=" " /><a href="# ">foxORG INC.</a></div>
                        <div class="img"><img src="/images/Mainpage Images/icons/instagram.webp " alt=" " /><a href="# ">foxinsta</a></div>
                    </div>
                </div>
                <hr />

                <div class="add">
                    <h1>Address</h1>
                    <br />
                    <p>Planet Earth, The Solar System, Orion Arm, The Milky Way, Local Group, Virgo Cluster, Virgo Super-Cluster,Semi-major axle 149,597 887.5Km 1,000,000 1124UA, Universe ..... One.</p>
                </div>

                <div class="ico">
                    <div class="footer">
                        <img src="/images/Mainpage Images/images/logoii.webp " alt=" " srcset="" />
                        <div class="acc text-color">
                            <h1>Account</h1>
                            <a href="#">FoxORG</a>
                            <a href="#">Central World</a>
                            <a href="#">Eduverse</a>
                            <a href="#">FLC</a>
                            <a href="#">App</a>
                        </div>
                        <div class="career text-color">
                            <h1>Career</h1>
                            <a href="#">Work </a>
                            <a href="#">Intern </a>
                            <a href="#">Research </a>
                        </div>
                        <div class="eco text-color">
                            <h1>Ecosystem</h1>
                            <a href="#">SiteMap</a>
                            <a href="#">Feedback</a>
                            <a href="#">Support</a>
                        </div>
                        <div class="learn text-color">
                            <h1>Learning club</h1>
                            <a href="#">About</a>
                            <a href="#">Access</a>
                            <a href="#">Courses</a>
                        </div>
                        <div class="prod text-color">
                            <h1>Product</h1>
                            <a href="#">Software</a>
                            <a href="#">Hardware</a>

                            <!-- <a href="# ">D-Mag ©</a>
                            <a href="# ">DBK ©</a>
                            <a href="# ">Eduverse ©</a> -->
                        </div>
                        <div class="service text-color">
                            <h1>Service</h1>
                            <a href="#">Advance</a>
                            <a href="#">Education</a>
                            <a href="#">Developer</a>
                            <a href="#">Security & Privacy</a>
                            <a href="#">Technology</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <script src="./js/Mainpage.js"></script>
    <!-- //////////////same js files//////////////////// -->
    {{!-- <script src="./js/SI_SU.js"></script> --}}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    {{!-- <script src="./js/Navbar.js"></script> --}}
    <script src="./js/canvas.js"></script>

    {{!-- Aos and Loader --}}
    <script>
        AOS.init();
       
        document.addEventListener('DOMContentLoaded', function() {
            const  loader = document.querySelector(".loader");
            setTimeout(()=>{
                            loader.style.display = "none";

            }, 5000)
        }, false);

       
       
    </script>
    {{!-- Loader js --}}
    <script>
          // One of my first <canvas> experiments, woop! :D

    var SCREEN_WIDTH = window.innerWidth;
    var SCREEN_HEIGHT = window.innerHeight;

    var RADIUS = 100;

    var RADIUS_SCALE = 1;
    var RADIUS_SCALE_MIN = 1;
    var RADIUS_SCALE_MAX = 1.5;

    var QUANTITY = 18;

    var canvas;
    var context;
    var particles;

    var mouseX = SCREEN_WIDTH * 0.5;
    var mouseY = SCREEN_HEIGHT * 0.5;
    var mouseIsDown = false;

    function init() {
        canvas = document.getElementById("world");

        if (canvas && canvas.getContext) {
            context = canvas.getContext("2d");

            // Register event listeners
            window.addEventListener("mousemove", documentMouseMoveHandler, false);
            window.addEventListener("mousedown", documentMouseDownHandler, false);
            window.addEventListener("mouseup", documentMouseUpHandler, false);
            document.addEventListener("touchstart", documentTouchStartHandler, false);
            document.addEventListener("touchmove", documentTouchMoveHandler, false);
            window.addEventListener("resize", windowResizeHandler, false);

            createParticles();

            windowResizeHandler();

            setInterval(loop, 1000 / 60);
        }
    }

    function createParticles() {
        particles = [];

        for (var i = 0; i < QUANTITY; i++) {
            var particle = {
                size: 1,
                position: {
                    x: mouseX,
                    y: mouseY,
                },
                offset: {
                    x: 0,
                    y: 0,
                },
                shift: {
                    x: mouseX,
                    y: mouseY,
                },
                speed: 0.01 + Math.random() * 0.04,
                targetSize: 1,
                fillColor: "#" + ((Math.random() * 0x404040 + 0xaaaaaa) | 0).toString(16),
                orbit: RADIUS * 0.5 + RADIUS * 0.5 * Math.random(),
            };

            particles.push(particle);
        }
    }

    function documentMouseMoveHandler(event) {
        mouseX = event.clientX - (window.innerWidth - SCREEN_WIDTH) * 0.5;
        mouseY = event.clientY - (window.innerHeight - SCREEN_HEIGHT) * 0.5;
    }

    function documentMouseDownHandler(event) {
        mouseIsDown = true;
    }

    function documentMouseUpHandler(event) {
        mouseIsDown = false;
    }

    function documentTouchStartHandler(event) {
        if (event.touches.length == 1) {
            event.preventDefault();

            mouseX = event.touches[0].pageX - (window.innerWidth - SCREEN_WIDTH) * 0.5;
            mouseY = event.touches[0].pageY - (window.innerHeight - SCREEN_HEIGHT) * 0.5;
        }
    }

    function documentTouchMoveHandler(event) {
        if (event.touches.length == 1) {
            event.preventDefault();

            mouseX = event.touches[0].pageX - (window.innerWidth - SCREEN_WIDTH) * 0.5;
            mouseY = event.touches[0].pageY - (window.innerHeight - SCREEN_HEIGHT) * 0.5;
        }
    }

    function windowResizeHandler() {
        SCREEN_WIDTH = window.innerWidth;
        SCREEN_HEIGHT = window.innerHeight;

        canvas.width = SCREEN_WIDTH;
        canvas.height = SCREEN_HEIGHT;
    }

    function loop() {
        if (mouseIsDown) {
            RADIUS_SCALE += (RADIUS_SCALE_MAX - RADIUS_SCALE) * 0.02;
        } else {
            RADIUS_SCALE -= (RADIUS_SCALE - RADIUS_SCALE_MIN) * 0.02;
        }

        RADIUS_SCALE = Math.min(RADIUS_SCALE, RADIUS_SCALE_MAX);

        context.fillStyle = "rgba(255,255,255,0.05)";
        context.fillRect(0, 0, context.canvas.width, context.canvas.height);

        for (i = 0, len = particles.length; i < len; i++) {
            var particle = particles[i];

            var lp = {
                x: particle.position.x,
                y: particle.position.y,
            };

            // Rotation
            particle.offset.x += particle.speed;
            particle.offset.y += particle.speed;

            // Follow mouse with some lag
            particle.shift.x += (mouseX - particle.shift.x) * particle.speed;
            particle.shift.y += (mouseY - particle.shift.y) * particle.speed;

            // Apply position
            particle.position.x = particle.shift.x + Math.cos(i + particle.offset.x) * (particle.orbit * RADIUS_SCALE);
            particle.position.y = particle.shift.y + Math.sin(i + particle.offset.y) * (particle.orbit * RADIUS_SCALE);

            // Limit to screen bounds
            particle.position.x = Math.max(Math.min(particle.position.x, SCREEN_WIDTH), 0);
            particle.position.y = Math.max(Math.min(particle.position.y, SCREEN_HEIGHT), 0);

            particle.size += (particle.targetSize - particle.size) * 0.05;

            if (Math.round(particle.size) == Math.round(particle.targetSize)) {
                particle.targetSize = 1 + Math.random() * 7;
            }

            context.beginPath();
            context.fillStyle = particle.fillColor;
            context.strokeStyle = particle.fillColor;
            context.lineWidth = particle.size;
            context.moveTo(lp.x, lp.y);
            context.lineTo(particle.position.x, particle.position.y);
            context.stroke();
            context.arc(particle.position.x, particle.position.y, particle.size / 2, 0, Math.PI * 2, true);
            context.fill();
        }
    }

    window.onload = init;
    </script>
    {{!-- now navbar js --}}
    <script>
        const dark_light = document.querySelector(".dark-light");
const app = document.querySelector(".app");
const close = document.querySelector(".close");
const main_nav = document.querySelector(".main_nav");
const arrange = document.querySelector(".arrange");
const arrange_hide = document.querySelector(".arrange_hide");

const arr_hide = () => {
  if (!arrange.classList.contains("app_show")) {
    arrange.classList.add("app_show");
    arrange.classList.remove("app_hide");
  } else {
    arrange.classList.add("app_hide");
    arrange.classList.remove("app_show");
  }
};

const nav_gap = () => {
  const nav_btn = document.querySelector(".nav_btn");

  if (!nav_btn.classList.contains("nav_btn_rotate")) {
    nav_btn.classList.add("nav_btn_rotate");
    nav_btn.classList.remove("nav_btn_unrotate");
  } else {
    nav_btn.classList.remove("nav_btn_rotate");

    nav_btn.classList.add("nav_btn_unrotate");
  }
};

const nav_btn = document.querySelector(".nav_btn");
nav_btn.addEventListener("click", () => {
  nav_gap();
  arr_hide();
  arrange.style = "animation-duration: 1s;";
});

const click = document.querySelector(".nav_ser a");

click.addEventListener("click", () => {
  const click2 = document.querySelector(".nav_ser ul");
  // click2.classList.toggle("hide");
  if (click2.style.height == "0px") {
    click2.style.height = "fit-content";
    click2.style.transition = "all 2s ease";
    // click2.style.animationName = "dropdown";
  } else {
    click2.style.height = "0px";
  }
});

arrange_hide.addEventListener("click", () => {
  nav_gap();
  arr_hide();
});

    </script>
    {{!--Dmag animator  --}}
   
    
</body>
</html>