<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoxORG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat Alternates" rel="stylesheet" />

    <link rel="stylesheet" href="css/Sign_up.css" />
    <link rel="stylesheet" href="css/sign-in.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script defer src="./js/Dmag.js"></script>
    <link rel="stylesheet" href="css/phone.css" />
  </head>
  <body>

    <!-- ///////////////////////////////////{ Sign In PAge}/////////////////////////////// -->
    <section class="sip">
      <div class="SI_hide"></div>
      <div class="sip-cont" style="overflow-x: hidden; backdrop-filter: blur(3px)">
        <div class="cancel">
          <img src="./images/sign-in images/cancel.png " alt=" " />
        </div>
        <h1>Welcome Back</h1>

        <div class="wave-container">
          <div class="wave"></div>
          <div class="wave wave2"></div>
          <div class="wave wave3"></div>
        </div>

        <form action="/login" method="POST" class="sip-form">
          <div class="sip-input">
            <input type="Email" name="Email" class="Email" placeholder="E-mail " />
            <input type="Password" name="Password" class="Password" placeholder="Password " />
          </div>
          <div class="sip-submit">
            <h1>Sign In</h1>
            <button type="submit "><img style="width: 100%; padding: 5px" src="images/sign-in images/icons8-forward-96.png " alt=" " /></button>
          </div>
        </form>
        <div class="sip-sf">
          <ul>
            <li class="signUp"><a href="/registration">Sign-up</a></li>
            <li>Forgot Password?</li>
          </ul>
        </div>
      </div>
    </section></body>
</html>