<!-- ///////////////////////////////////////////{Sign-up Page}/////////////////////////////////////////////// -->

<section class="SP_main">
  <div class="SU_hide"></div>
  <div class="SP_main-cont" style="overflow-x: hidden; backdrop-filter: blur(3px)">
    <div class="SP_main_cancel">
      <img src="./images/sign-in images/cancel.png " alt=" " />
    </div>
    <h1>Welcome to FoxORG</h1>

    <div class="wave-container">
      <div class="wave"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
    </div>

    <form action=" " class="SP_main-form">
      <div class="SP_main-input">
        <input type="text " name="Name " class="Name" placeholder="Please enter a valid name! " />
        <input type="email " name="Email " class="Email" placeholder="E-mail " />
        <input type="password " name="Password " class="Password" placeholder="Password " />
        <input type="password " name="Confirm_Password " class="Confirm_Password" placeholder="Confirm Password " />
      </div>
      <div class="SP_main-submit">
        <h1>Sign Up</h1>
        <button type="submit "><img style="width: 100%; padding: 5px" src="./Images/sign-in images/icons8-forward-96.png " alt=" " /></button>
      </div>
    </form>
    <div class="SP_main-sf">
      <ul>
        <button class="signIn" style="font-size: 2.5rem"><a href="/signin">Sign-in</a></button>
        <li>Forgot Password?</li>
      </ul>
    </div>
  </div>
</section>