/* ////////////////////////////////////////////////////////////////////////////// */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.SP_main {
    position: fixed;
    /* display: none; */
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    z-index: 2500;
    background-color: transparent;
}

.SP_main-cont {
    width: 48vw;
    /* border: 2px solid; */
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px black;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    top: 6%;
    left: 37%;
}

.SP_main-cont h1 {
    cursor: default;
    position: relative;
    top: 24%;
    font-size: 29px;
}

.SP_main-form {
    display: flex;
    position: absolute;
    z-index: 10;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    align-items: center;
}

.SP_main-input {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.SP_main-input>input {
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(206, 204, 204);
    outline-style: none;
    width: 18rem;
    border-radius: 10px;
    height: 2rem;
}

.SP_main-submit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.SP_main-submit h1 {
    cursor: default;
    top: 0;
    color: white;
}

.SP_main-submit>button {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    /* background: black; */
    border: none;
    border-radius: 50%;
    background-color: black;
}

.SP_main-sf {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    position: absolute;
}

.SP_main-sf>ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: -81%;
}

.SP_main-sf>ul>li,
.SP_main-sf>ul>li>a {
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

.SP_main_cancel {
    width: 8%;
    /* height: 5rem; */
    object-fit: contain;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-right: 7%;
    margin-top: 6%;
    z-index: 10;
}

.SP_main_cancel>img {
    width: 30px;
    cursor: pointer;
}

.signIn {
    background-color: transparent;
    border: none;
}

.signIn>a {
    cursor: pointer;
    text-decoration: underline;
    color: white;
    font-size: 1.5rem;
}


/* //////////////////////////Wave */

.wave-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background: transparent;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    z-index: -10;
}

.wave-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    z-index: 9000;
    font-size: 4rem;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.wave {
    opacity: 0.8;
    position: absolute;
    top: 80%;
    left: 26%;
    width: 3500px;
    height: 3000px;
    background: black;
    margin-left: -89rem;
    transform-origin: 50% 48%;
    border-radius: 46%;
    animation: wave 12s infinite linear;
    pointer-events: none;
}

.wave2 {
    animation: wave 28s infinite linear;
    opacity: 0.4;
}

.wave3 {
    animation: wave 20s infinite linear;
    opacity: 0.1;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.SU_hide {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}